extends layout.pug
block content
    .header
        img(src="/img/1.jpg", alt="image")
        .title
            h1 Welcome to #{title}
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt minus, odio
    h1.cardsTitle Why US
    .cards
        .card
            img(src="/img/1.jpg", alt="image")
            h1 OUR SERVICES
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt minus,
        .card
            img(src="/img/1.jpg", alt="image")
            h1 OUR STRENGTHS 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt minus,
        .card
            img(src="/img/1.jpg", alt="image")
            h1 OUR TEAM
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt minus,
                