<!DOCTYPE html>
html(lang="en")
    head
        title 00008699
        link(rel="stylesheet", href="/css/main.css")
    body
        nav
            ul
                li
                    a(href="/") Home page
                li
                    a(href="/service") Our Services
                li 
                    a(href="/contact") Contact us
        block content